
.row{
    background-color:rgb(221, 91, 4);
}
footer{
    color: #1e1f1c;
    width: 100%;
    font-weight: 800;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: 3px -3px 5px #999 ;
    border-color: rgb(66, 18, 66);
}
