header#mainHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    background: rgba(0, 0, 0, 0.55);
    flex-flow:row nowrap;
    border-radius:32px;
    height: 80px;
    align-items: center;
    margin: px;
    position: top;
    top:0;
    z-index: 1;
  
}

.inHeader > img{
    height: 2rem; /* 4 * 16px */
}
a{
    color: white;
    font-size: 1rem;
}
.inNav{
    display:flex;
    justify-content: flex-end;
}