<!-- Header -->
<header class="card mat-card d-flex justify-content-between" id="mainHeader">
    <!-- Logo AP -->

    <div class="d-flex inHeader">
       
        
        <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"> <img class="m-2" src="https://i.imgur.com/rAjJPPu.png" width="20" height="20"  alt="Logo de AP"> <a class="arpr">Argentina Programa </a></a> 
    </div>    
    <div class="inNav "> 
       
    </div>
    
    <app-nav></app-nav> 
</header>