/* Una forma */
/*.experiencia { 
    background: #afa;
    padding: 6px;
}
#experiencia {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
}
#experiencia > li {
    margin-right: 1rem;
}
.img{
    width: max-content;
    align-items: center;
    margin: auto;
    display: flex;
}
.card-img, .card-img-bottom, .card-img-top {
    width: max-content;
    align-items: center;
    margin: auto;
    border: solid;
} */
/* La otra forma */
.experiencia { 
    margin: 5px;
    padding: 1rem;
    border-radius: 35px;
    border-color:  rgb(66, 18, 66);
}
#experiencia {
    padding: 0;
    list-style: none;
    border-color: none;
}
.card-horizontal  {
    display: flex;
    flex: 1 1 auto;
    border-color: none;
}
.card .card-footer{
    border-color: none;
}
h1{
    text-align: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
