<div class="card mat-card ">
  <div class="">
    <h1 style="text-align: center;">HABILIDADES</h1>
    <hr>
    
      
    <h3>Duras y Blandas</h3>    
    <div class="row justify-content-center ">
       
       <div *ngFor="let item of skill; let indice=index"  class="col-md-2">
        
          <div   class="d-flex skill justify-content-center" >
          
            <circle-progress
              [percent]="item.dominio"
              [radius]="100"
              [subtitle]="item.titulo"
              [subtitleColor]="'#000'"
              [outerStrokeWidth]="4"
              [innerStrokeWidth]="6"
              [outerStrokeColor]="'#c61515'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [lazy]="true"
              [responsive]="true"
              [animationDuration]="500"
            ></circle-progress>
            
            <app-editbutton *ngIf="login" (click)="abrirModal(item.idskill)" class="d-flex align-items-center"></app-editbutton>
          </div>         
         
        </div>
        
        
       
      
    </div>
    </div> 
      
   
  </div>


